
@mixin columnRight {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
}

.row{
  height: 50px;
  border-bottom-color:black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;

  .user{
    min-width:50px;
    max-width: 100px;
    vertical-align: middle;
   @include columnRight();
  }

  .day{
    margin: 0;
    vertical-align: middle;
  }

  .userTaskContainer{
    display: flex;
    flex-direction: column;
    .userTask{
      font-size: 12px;
      overflow-wrap: break-word;
      height: 50px;
      width: 50px;
      padding: 0;
      background-color: red;
      text-align: center;
      display: block;
    }
  }

  .lastOfWeek{
    @include columnRight();
  }

}
